.popup {
  box-sizing: border-box;
  max-height: 460px;
  width: 290px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;
  background: #ffffff;
  border: 1px solid #cac32f;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
  .textPopUp {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 240px;
    h2 {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #0e0e0e;
      margin-bottom: 0px;
    }
    span {
      font-weight: 400;
      font-size: 11px;
      line-height: 17px;
      white-space: normal;
      color: #cac32f;
    }
    .inputList {
      width: 244px;
      input {
        background: #ffffff;
        border: 1px solid #cac32f;
        border-radius: 4px;
        height: 40px;
        width: 225px;
        padding: 0px 10px;
        color: #0e0e0e;
      }
    }
    .addInput {
      background: #cac32f;
      border-radius: 5px;
      border: none;
      width: 244px;
      height: 34px;
      color: white;
    }
  }
}
.inner-container {
  height: 20rem;

  background-color: #ffffff;
  width: 80%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last-button {
  margin-top: 14px;
  background-color: #cac32f;
  color: #ffffff;
}

.first-btn {
  background-color: #cac32f;
  color: #ffffff;
  margin: 15px;
}

.addLayers {
  background-color: #cac32f;
  color: #ffffff;
  margin: 75px;
}

.layers {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 240px;
  h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #0e0e0e;
    margin-bottom: 0px;
  }
  span {
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    white-space: normal;
    color: #ffffff;
  }
}
