/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Open Sans" !important;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
}
html,
body {
  height: 100%; //
}
body {
  margin: 0;
  font-family: "Open Sans" !important;
}

// @media screen and (min-width: 290px) and (max-width: 450px) {
@media only screen and (max-width: 767px),
  only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
  }
  nav {
    width: 100%;
    margin-top: 10px;
  }
  #myFrame {
    width: 100% !important;
    height: 100% !important;
  }
  // #chili-iframe1 {
  //   // width: 390px !important;
  //   padding: 20px;
  // position: absolute !important;
  // top: 5em !important;
  // z-index: 999 !important;
  // transform: scale(1) !important;
  // margin: 100px 0px 200px !important;
  // width: calc(100vw - 10em) !important;
  // height: calc(100vh - 40em) !important;
  // // z-index: 0;
  // }
  .logoAndText {
    img {
      width: 100px;
      margin-right: 0px !important;
    }
    span {
      display: none;
    }
  }
  .topNav {
    justify-content: center !important;
    button {
      display: none;
    }
  }
  .lowerNav {
    display: none !important;
  }
  // #myFrame {
  //   width: 100% !important;
  // }
  // #chili-iframe1 {
  //   width: 390px !important;
  // }
  .editor {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
    width: calc(100% - 2.5em) !important;
    height: 400px;
    padding: 0 20px;
    position: absolute !important;
    top: 2.5em !important;
    z-index: 999 !important;
    // transform: scale(1) !important;
    // margin: 100px 0px 200px !important;
    // width: calc(100vw - 40px) !important;
    // height: calc(100vh - 370px) !important;
    // z-index: 0;
    //top: 11em; // editor brought down
    // width: auto !important;
    // right: 1px !important;
    // // height: 430px !important;
    .editSpace {
      width: 100% !important;
      height: 70% !important; //
    }
  }
  .buttonContain {
    display: flex !important;
    gap: 20px !important;
    margin: auto !important;
    flex-direction: row !important;
    width: 99vw !important;
    height: 50px !important;
    justify-content: space-evenly !important;
    position: absolute;
    left: -0.75px !important;
    .editorButtons {
      height: 44px !important;
      width: 80px !important;
      display: flex;
      flex-direction: column !important;
      justify-content: space-around !important;
      span {
        font-size: 9px !important;
      }
    }
  }
  .zoomSlider {
    display: flex;
    left: 1px !important;
    right: 1px !important;
    bottom: 30px !important;
  }
  .Zoom-property {
    position: relative; //
    position: fixed;
    margin-top: 50px;
    // top: -52em !important;
    padding-top: 0 !important;
    width: 100% !important; //
    // height: 100% !important;
    .mat-card {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly !important;
      align-items: center;
      padding: 0px 8px;
      // top: 12em !important; //
    }
    .zoom-slider {
      .minusicon,
      .example-margin,
      .plusicon,
      .Zoom-value {
        display: none;
      }
    }
    mat-divider {
      display: none !important;
    }
  }
  .dummyDimentions {
    display: flex !important;
  }
  h4 {
    color: #448dcb;
  }
  .pages {
    width: 40%;
  }
  .preview {
    display: none;
  }
  .migration-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto !important;
    width: 100% !important;
    padding-top: 0px !important;
    p {
      display: none !important;
    }
  }
  .popup {
    display: flex;
    flex-direction: column;
    gap: 3.5px;
    width: 255px;
  }
  .stageCanvas {
    width: 80vh !important;
  }
  .topToolbar {
    height: auto !important;
    width: 90% !important;
    margin: 0 auto !important;
    flex-wrap: wrap !important;
    position: absolute;
    z-index: 99;
    padding: 16px !important;
    /* border: 1px solid red; */
    border-radius: 10px;
    top: 60%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  ::ng-deep {
    .mat-menu-panel {
      margin-top: 15px !important;
    }
    .mat-card-image {
      width: calc(100% + 0px) !important;
    }
    .stageCanvas {
      width: 80vh !important;
    }
  }
  // .mainBody {
  // overflow: hidden !important;
  // }
  .admin-sidenav-close-button {
    display: none !important;
  }
  .popup {
    margin: auto !important;
    background-color: transparent;
    border: none !important;
    display: flex;
    flex-direction: column;
    gap: 3.5px !important;
    width: 263px !important;
    padding: 8px !important;
    .textPopUp,
    .new-image,
    .layers {
      display: flex !important;
      flex-direction: column !important;
      gap: 5px !important;
      width: 240px !important;
    }

    .background,
    .qrCode {
      position: absolute !important;
      align-items: center !important;
      left: 6em !important;
      bottom: 13em !important;
      .mobileButtons {
        button {
          display: none !important;
        }
      }
    }
    //  {
    //   position: absolute !important;
    //   align-items: center !important;
    //   left: 11em !important;
    //   bottom: 13em !important;
    //   .mobileButtons {
    //     button {
    //       display: none !important;
    //     }
    //   }
    // }
  }
  .previewContainer {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    margin-top: 23em;
    right: 25%;
    left: 25%;
    // bottom: 24em; // buttons brought down
    right: 5.8em;
  }
  .mobilePop {
    position: absolute;
    width: 80% !important;
    min-height: 43%;
    top: 20em;
    margin: 0 37px;
    z-index: 9999;
    background-color: #fff !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .mobileButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: -0.8 !important;
    button {
      border: 1px solid grey;
      border-radius: 15px;
      width: 100px;
      height: 50px;
      background: transparent;
    }
    ::ng-deep .mat-card {
      height: 90px !important;
    }
  }
  .previewImage {
    position: relative !important;
    right: 16px !important;
  }
  // .pageparent {
  // height: 28px !important;
  // width: 80px !important;
  // margin: 14px !important;
  // }

  // .mobileViewP {
  // display: block !important;
  // }

  .pageparent {
    height: 60px !important;
    width: 60px !important;
    box-sizing: border-box !important;
    background: #cac32f !important;
    border: 1px solid #cac32f !important;
    border-radius: 4px !important;
    margin-bottom: -6em !important;
    margin-right: 0.5em !important;
    // position: relative !important; //
    // top: 14em !important; //
    .mobileViewP {
      display: none !important;
    }
    .frontpage {
      font-family: Open Sans !important;
      font-style: normal !important;
      font-weight: 700 !important;
      font-size: 9px !important;
      line-height: 16px !important;
      text-align: center !important;
      margin-top: 1.5em !important;
    }
    img.previewImage {
      margin-left: 10px !important;
      margin-top: 3px !important;
      width: 50px !important;
      height: 40px !important;
    }
  }

  // .btn-ele {
  //   display: none !important;
  // }

  .editorimg {
    background: transparent !important;
    height: 25px !important;
    margin: 3px 0 0 10px !important;
  }
  mat-drawer-container,
  mat-drawer-content {
    overflow: hidden !important;
  }
  // button.common-width-btn {
  //   // margin-top: 91rem !important;
  //   position: relative !important;
  //   top: 46rem !important;
  // }
  mat-toolbar.navbar-icons {
    position: relative !important;
    top: 42rem !important;
    padding: 0 !important;
    background: transparent !important;
    height: 30px !important;
  }

  mat-toolbar-row.toolbar-row-top {
    height: 35px !important;
    margin: 0 2px !important;
    padding: 0 10px !important;
    position: absolute !important;
    justify-content: space-evenly !important;
  }

  mat-toolbar-row.toolbar-row-bottom {
    height: 35px !important;
    padding: 0 10px !important;
    position: absolute !important;
    justify-content: space-evenly !important;
    top: 42px !important;
    // display: flex !important;
    // flex-wrap: wrap !important;
    // flex-direction: column !important;
    // margin-left: 100% !important;
  }

  .common-width-btn {
    padding: 5px !important;
    background-color: transparent !important;
    width: 4rem !important;
  }
  .toolbar-icons {
    width: 100% !important;
    background-color: transparent !important ;
    display: flex;
    position: relative;
    bottom: 9.5em;
    // position: absolute !important; //
    // bottom: 6em !important; //
  }
  .img-container {
    margin-left: 12px !important;
    height: 20px !important;
  }
  
  mat-drawer.example-sidenav{
    display: none !important;
    visibility: hidden !important;
  }
}
// End of Media Query

button {
  border: 1px solid transparent !important;
}
button:hover {
  border: 1px solid #e9ebf0 !important;
  border-radius: 12px !important;
}
button:active {
  background: #e9ebf0 !important;
  border-radius: 12px !important;
  color: #cac32f !important;
  span {
    color: #cac32f !important;
  }
  div {
    color: #cac32f !important;
    background-color: #cac32f !important;
  }
}
.selectedButton {
  background: #e9ebf0 !important;
  border-radius: 12px !important;
  color: #cac32f !important;
  span {
    color: #cac32f !important;
  }
  div {
    color: #cac32f !important;
    background-color: #cac32f !important;
  }
}
::-webkit-scrollbar {
  display: none;
}
