<nav>
    <div class="topNav">
        <div class="logoAndText">
            <img class="logo" src="../../assets/demo-assets/assets/bizay_header.gb.png" alt="">
            <span> Delivery in 48h | Lowest price guaranteed | Satisfaction Guaranteed</span>
        </div>
        <!-- <span id="myInput" >message:</span> -->
        <!-- <div id="myInput2">{{ messageFromIframe }}</div> -->
        <button class="cart">
           <img src="../../assets/demo-assets/assets/Cart_icon.webp" alt="">
           <span>Basket(0)</span>
        </button>
    </div>
   <div class="lowerNav"> 
        <button class="lowerButtons menuButton">
            <img class="menu" src="../../assets/demo-assets/assets/mobile-nav-menu.svg" alt="">
            <span class="otherText">Other products</span>
            <img class="chevron" src="../../assets/demo-assets/assets/down-chevron.png" alt="">
        </button>
        <div class="bar"></div>
        <button class="lowerButtons">
          Business Cards
        </button>
        <div class="bar"></div>
        <button class="lowerButtons">
            Flyers & Leaflets
        </button>
        <div class="bar"></div>
        <button class="lowerButtons">
            Stickers
        </button>
        <div class="bar"></div>
        <button class="lowerButtons">
            Logo design
        </button>
        <div class="bar"></div>
        <button class="lowerButtons">
            Login/Register
        </button>
   </div>
</nav>
<div class="dummyDimentions">
    <div>
        <div>
            <h4>Greeting Cards (5.25" x 1/4 Length)</h4>
            <h5>50 units</h5>
        </div>
        <div>
            <h4>Design free</h4>
        </div>
    </div>
    <div>
        <div>
            <h4>$9.99</h4>
            <h5>before: $15.99</h5>
        </div>
        <div>
            <h4>Free</h4>
        </div>
    </div>
</div>
<div class="frameContainer">
    <iframe id="myIFrame" class="myIFrame" style="width: 100vw;height:85vh;margin: 0 auto;" class="app" src="http://localhost:8085/#/" id="myFrame" frameborder="0"></iframe>
</div>

